.search-form-container-mobile{
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: #93a4a9;
    box-shadow: 16px 14px 7px 3px rgb(26 26 65 / 20%);
    

}

.search-field-container-mobile{

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.source-container-mobile{
    width: 60%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    background-color: #1a1818;
    color:#FFFFFF;
}
.destination-container-mobile{
    width: 60%;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color:#FFFFFF;
    line-height: 40px;
    border-radius: 50px;
    background-color: #1a1818;
}

.button-container{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid firebrick;
  margin-top: 30px;
  margin-bottom: 30px;
}